<form action="/login" method="post">
    <input type="text" name="username" id="username"/>
    <input type="password" name="username" id="password"/>
    <input type="hidden" name="redirect" id="redirect" value="<%= redirect%>"/>
    <input type="hidden" name="client_id" id="client_id" value="<%= client_id%>"/>
    <input type="hidden" name="redirect_uri" id="redirect_uri" value="<%= redirect_uri%>"/>
    <input type="submit" value="登陆"/>
</form>