<!DOCTYPE html>
<html ng-app>
<head>
    <title>乐斯管理平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include header.ejs %>
</head>

<body>
<div id="wrapper">
    <h3>错误页面</h3>
    <div id="page-wrapper">
        <%- body %>
    </div>
</div>
</body>
</html>