<!DOCTYPE html>
<html ng-app>
<head>
    <title>乐斯管理平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include header.ejs %>
</head>

<body style="padding: 1rem;height: auto; ">
<%- body %>
</body>
</html>